
<head>
<link rel="stylesheet" href="assets/css/sidebar_resume.css">
</head>
<body>
<div class="sidenav">
  <img src="{{site.baseurl}}/assets/Leanne_Stockwell_Headshot.jpg" style="width:100%;">
  <br><div class="Namdiv">
  {{ site.fullnameofperson }}
  </div>
  <br>
  <div class="Descdiv">
  {{ site.selfIdentification }}
  </div>
  <br>

  <a href="#employment">Employment</a><br>
  <a href="#skills">Skills</a><br>
  <a href="#education">Education</a><br>
  <a href="#awards">Awards</a><br>
  <a href="#elearning resources">eLearning Resources</a><br>
  <a href="#projects">Projects</a><br>
  <a href="#conferences">Conferences</a><br>
</div>

</body>

